<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>shields json for google play store app badge</title>
  <meta name="description" content="shields.io badges for Android apps on Google Play Store using the endpoint badge" />
  <meta name="keywords" content="shields,badge,android,google,play,store">
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
  <script src="/static/main.js"></script>
  <meta name="google-site-verification" content="2Eufg_dTh3gcH0Sp6SfVGgJe3JFC0252nnzl9EfvLUc" />
  <meta name="msvalidate.01" content="B18D9F539BB866B38C8EE8C2F59CFD53" />
  <meta name="yandex-verification" content="15ec156698a03dd1" />
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
